BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta-deimos \
  ##OEROOT##/openembedded-core/meta \
  ##OEROOT##/meta-arm/meta-arm \
  ##OEROOT##/meta-arm/meta-arm-toolchain \
  ##OEROOT##/meta-ti/meta-ti-bsp \
  ##OEROOT##/meta-apps \
  "
